Python Sets

myset = {"apple", "banana", "cherry"}

In [1]:
#Example:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

Duplicates Not Allowed

In [2]:
#Example:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [3]:
#Example:

thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'apple', 'cherry', 'banana'}

In [4]:
#Example:

thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'cherry', 'banana'}

Get the Length of a Set

In [5]:
#Example:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

Set Items - Data Types

In [6]:
#Example:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'apple', 'banana', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [7]:
#Example:

set1 = {"abc", 34, True, 40, "male"}

print(set1)

{True, 34, 'abc', 40, 'male'}

type()

<class 'set'>

In [8]:
#Example:

myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

The set() Constructor

In [9]:
#Example:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}